body {
    width: 1280px;
    height: 565px;
    background-image: url(../../img/sch.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    /* background-position-x: 23px; */
    font-size: 15px;
}
/* =======HEADER======= */
h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-left: 60px;
}
/* =======HEADER======= */
/* =========Container=========== */
form .f-datasekolah {
    /* width: 80%;
    height: 500px; */
    width: 300px;
    height: 300px;
    background-color: rgba(111, 79, 79, 0.35);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* =========Container=========== */
/* =======Form content======= */
form .f-datasekolah h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}
.f-datasekolah table {
    position: absolute;
    width: 275px;
    left: 50%;
    top: 50%;
    font-size: 15px;
    /* padding: 20px; */
    /* border:1px solid salmon; */
    /* box-sizing: border-box; */
    /* background-color: rgba(255, 255, 255, 0.308); */
    transform: translate(-50%,-50%);
    border-collapse: separate;
    border-spacing: 0 20px;
}
.f-datasekolah table input {
    background-color: royalblue;
    border-radius: 5px;
    color: rgb(228, 226, 226);
    font-weight: bold;
    border: 0;
}
/*=========End Form Content========= */
/* Submit Button */
.f-datasekolah .button input {
    padding: 3px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 170px;
    width: 60%;
    background-color: rgba(129, 123, 123, 0.253);
    border:1px solid rgba(255, 255, 255, 0.253);
    box-shadow: 1px 1px 10px #999;
}
/* Submit Button */